


.page-name{
    text-align: center;
    font-family:sans-serif;
    color: rgb(14, 14, 186);
    font-size: 3vw;
    text-align: center;
  
}

.brandname{
    color: rgb(255, 113, 18);
    text-align: left;
    margin-left: 5vw;
}


body{
    background-color: rgb(250, 239, 226);
}

.grid1-1-1-1 h1{
    justify-self: center;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    text-decoration: none;
}

h3{
    text-align: left;
    font-family: sans-serif;
    font-weight: 100;
}

.grid1-1 h3{
    text-align: left;
}

li{
    font-family: sans-serif;
    font-size: 1.2vw;
}





/* sold out */

.sold-out::before {
    content: "Sold Out";
    position: absolute;
    background-color: rgb(158, 160, 180);;
    color: white;
    padding: 15px;
    font-size: 1vw;
    z-index: 2;
}

.sold-out img{
    filter: grayscale(100%);
}


.sale {
    background-color: rgb(215, 20, 20);
    color: white;
    padding: 0.5vw;  
  
}


article{
    margin-left: 6vw;
    margin-right: 6vw;
    padding: 0;

}

.grid1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
}

.productname{
    grid-column: 1/-1;
    grid-row: 1;
}

.line-through{
    text-decoration: line-through;

}




